<div class=" header pb-6 pt-6">
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col-xl-6">
      <div class=" card">
        <div class=" card-header">
          <div class="row" style="justify-content: space-between;">
            <div class="col-auto"><h5 class=" h3 mb-0">Overall Asset By Type</h5></div>
          </div>
        </div>
        
        <div class=" card-body">
          <div class="chart" id="chartdiv26">
          </div>
        </div>
      </div>
    </div>
    <div class=" col-xl-6">
      <div class=" card">
        <div class=" card-header">
          <div class="row" style="justify-content: space-between;">
            <div class="col-auto"><h5 class=" h3 mb-0">Asset By Location</h5></div>
          </div>
        </div>
        
        <div class=" card-body">
          <div class="chart" id="chartdiv27">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card">
        <div class=" card-header">
          <div class="row" style="justify-content: space-between;">
            <div class="col-6"><h5 class=" h3 mb-0">Monthly Purchase/Acquisition</h5></div>
          </div>
        </div>
        
        <div class=" card-body">
          <div class="chart" id="chartdiv28">
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="card-header">
      <div class="row">
        <div class="col-2">
          <button class=" btn btn-outline-default" type="button">
            Icon VIew
          </button>
        </div>
        <div class="col-2">
          <button class=" btn btn-outline-default" type="button">
            List VIew
          </button>
        </div>
      </div>
    </div>
    <div class=" card">
      <div class=" row">
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
            <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
              <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
              <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
            <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
              <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
              <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
            <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
              <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
              <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
              <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
            <button type="button" class="btn btn-primary" style="width:150px;">View</button>
        </div>
        <div class=" col-md-2">
          <div style="background: url('assets/img/brand/2.png');width: 150px;height:150px;background-size: cover;background-position: center;"></div>
            <button type="button" class="btn btn-primary"  style="width:150px;">View</button>
            <br>    
        </div>
      
      </div>
    </div>
  
  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card">
        <div class=" card-header">
          <div class="row">
            <div class="col-sm-6">
              <h3 class=" mb-0">Find Asset</h3>
            </div>
            <div class="col-sm-6 text-right">
              <button
              class=" btn btn-sm btn-info"
                data-target="#modal-default"
                data-toggle="modal"
                type="button"
                (click)="openDefaultModal(modalDefault)"
              >
                New Asset
              </button>    
              <ng-template #modalDefault>
                <div class=" modal-header">
                  <h6 class=" modal-title" id="modal-title-default">
                    Create New Asset
                  </h6>

                  <button
                    aria-label="Close"
                    class=" close"
                    data-dismiss="modal"
                    type="button"
                    (click)="defaultModal.hide()"
                  >
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <div class=" modal-body">                  
                  <div class="row">                   
                    <div class="col-6">
                      <label
                        class=" form-control-label"
                        for="exampleFormControlTextarea1"
                      >
                        Category
                      </label>
                      <input
                        class="form-control mb-2"
                        placeholder=""
                        type="text"
                      />
                    </div>
                    <div class="col-6">
                      <label
                        class=" form-control-label"
                        for="exampleFormControlTextarea1"
                      >
                        Asset ID
                      </label>
                      <input
                        class="form-control mb-2"
                        placeholder=""
                        type="text"
                      />
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <label
                        class=" form-control-label"
                        for="exampleFormControlTextarea1"
                      >
                        Asset Group
                      </label>
                      <input
                        class="form-control mb-2"
                        placeholder=""
                        type="text"
                      />
                    </div>
                    <div class="col-6">
                      <label
                        class=" form-control-label"
                        for="exampleFormControlTextarea1"
                      >
                        Year Registered/ Installed
                      </label>
                      <input
                        class="form-control mb-2"
                        placeholder=""
                        type="date"
                      />
                    </div>                       
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <label
                        class=" form-control-label"
                        for="exampleFormControlTextarea1"
                      >
                        Account No.
                      </label>
                      <input
                        class="form-control mb-2"
                        placeholder=""
                        type="text"
                      />
                    </div>                    
                    <div class="col-6">
                      <label
                        class=" form-control-label"
                        for="exampleFormControlTextarea1"
                      >
                        Work Order Serial No.
                      </label>
                      <input
                        class="form-control mb-2"
                        placeholder=""
                        type="text"
                      />
                    </div>
                    
                  </div>
                  <div class="row">                        
                    <div class="col-6">
                      <label
                        class=" form-control-label"
                        for="exampleFormControlTextarea1"
                      >
                        Overall Initiative Expensive(RM)
                      </label>
                      <input
                        class="form-control mb-2"
                        placeholder=""
                        type="text"
                      />
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class=" card-body">
                      <div class="chart" id="chartdiv29">
                      </div>
                    </div>
                  </div>
                  <div class=" modal-footer" style="justify-content: end;">
                    <button class=" btn btn-danger" type="button">
                      Back
                    </button>
  
                    <button
                      class=" btn btn-success"
                      data-dismiss="modal"
                      type="button"
                      (click)="defaultModal.hide()"
                    >
                       Submit
                    </button>
                  </div>
                </div>
              </ng-template>    
            </div>
          </div>
        </div>       
        <div class=" card-body">
          <div class=" row">
            <div class=" col-md-2">
              <div class=" form-group">
                <label class=" form-control-label"> Category </label>
  
                <select class=" form-control mb-2" id="exampleFormControlSelect3">
                  <option> Lift & Elevators </option>         
                  <option> CWSP </option>
                  <option> FDPS </option>
                  <option> ACMV </option>
                </select>
              </div>
            </div>
        
            <div class=" col-md-2">
              <div class=" form-group">
                <label class=" form-control-label"> Type of Transaction </label>
  
                <input
                  class=" form-control"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
            <div class=" col-md-2">
              <div class=" form-group">
                <label class=" form-control-label"> Asset ID </label>
  
                <input
                  class=" form-control"
                  placeholder=""
                  type="text"
                />
              </div>
            </div>
            <div class=" col-md-2">
              <div class=" form-group">
                <label class=" form-control-label"> Date Registered </label>
  
                <input
                    class=" form-control"
                    id="example-date-input"
                    type="date"
                    value="2020-11-23"
                  />
              </div>
            </div>
            <div class=" col-md-4 text-right">
              <button class=" btn btn-success" type="button" style="margin-top: 30px;">Search</button>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

